.content_card {
  margin-top: 20px;

  .card-header {
    padding: 20px 40px;
    font-size: 22px;
    background-color: rgba($primary, 0.1) !important;
    color: $secondary;
    display: flex;
    justify-content: space-between;
  }

  .list-group {
    .list-group-item {
      display: flex;
      align-items: center;
      padding: 10px 40px;

      .title {
        font-size: 15px;
        color: $secondary;
      }
      .value {
        font-size: 18px;
      }

      input, select {
        max-width: 300px;
      }

      .attachment {
        img {
          max-width: 250px;
          max-height: 250px;
          object-fit: contain;
        }
      }

      .attached_logo {
        border: none !important;
        
        img {
          max-width: 150px;
          max-height: 150px;
          object-fit: contain;
        }
      }

    }
  }
}