.no-hover {
  background-color: white !important;
}

.no-hover:hover {
  background-color: unset !important;
  cursor: default !important;
}

.history {
  display: flex;
  border-radius: 15px;
  padding: 10px 5px !important;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    padding: 10px !important;

    a {
      width: 35px;
    }
  }
}
