.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px !important;
}

.sidebar {
  min-width: 250px !important;
  min-height: calc(100vh - 56px);
  
  .tab {
    display: flex;
    padding: 0 35px;
    
    i, a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      color:white;
      font-size: 18px;
      min-width: 40px !important;
    }

    i:hover, a:hover {
      color: $primary !important;
    }
  }
  .tab:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  }

  .sub_tab {
    padding-left: 100px;

    a {
      min-height: 40px;
    }
  }

  .active_parent_tab {
    background-color: white;

    a {
      color: $secondary;
    }
  }

  .active_tab, .tab:hover {
    background: white;
    a, i {
      color: $primary !important;
    }
  }

  .active_sub_tab, .sub_tab:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.8) !important;

    a, i {
      color: $primary !important;
    }
  }
}