.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px !important;
}

.sidebar {
  min-width: 250px !important;
  min-height: calc(100vh - 56px);
  
  .tab {
    display: flex;
    padding: 0 40px;
    
    i, a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      color:white;
      font-size: 18px;
      min-width: 40px !important;
    }

    i:hover, a:hover {
      color: $primary !important;
    }
  }
  .tab:hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
  }

  .active_tab, .tab:hover {
    background: white;
    a, i {
      color: $primary !important;
    }
  }
}