.stepper {
  .line {
    width: 2px;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }
  .lead {
    font-size: 1.1rem;
  }
  .border-primary{
    border: 1px solid rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
  }
  .form-control{
    max-width: 100% !important;
  }
}
.button-close {
  border: 1px solid #444;
  background: white;
  padding: 5px 8px 5px 8px;
  span{
    font-size: 20px !important;
  }
}
.button-close:hover {
  border: 1px solid darkgray;
  color: #155E75 !important;
}

#stepper {
  .form-group{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  label{
    padding-bottom: 7px;
    color: #333;
    font-size: large;
  }
  .form-control{
    color: #666;
  }
}
.modal-backdrop{
  --bs-backdrop-bg: #fbfbfb3d;
}
