.stepper {
  .line {
    width: 2px;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }
  .lead {
    font-size: 1.1rem;
  }
  .border-primary{
    border: 1px solid rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
  }
  .form-control{
    max-width: 100% !important;
  }
}
